In [ ]:
print("Hello World!")
print("*"*10)

Hello World!
**********

['0', '0', '1', 'Red', 'A'] ['1', '1', '2', 'Blue', 'B'] ['2', '2', '3', 'green', 'c']

In [ ]:
x = 2 
x

2

# Dynamic nature of the words
## in dynamic type of the variable is define at run time

In [ ]:
type(2.2)

float

In [ ]:
type(True)

bool

# type Annotation

In [ ]:
a=(float)(20)

IndentationError: ignored

In [ ]:
type(a)

str

* int mutable
* list immutable

In [ ]:
#int
x=2
print(id(x))
x=x+1
print(id(x))

94760857004576
94760857004608

In [ ]:
#list
x=[1,23,5]
print(id(x))
for i in range(2):
    x[i]=x[i]+1

print(id(x))

140419278096736
140419278096736

In [ ]:
x

[2, 24, 5]

#string

In [ ]:
course_name="   programming\"language"
print(course_name[0:3])
print(course_name[:])
print(course_name[-2])
print(course_name.split(" "))
print(course_name.find("g"))
print(course_name.replace("g","Q",3)) # 3 of g isQ

   programming"language
g
['', '', '', 'programming"language']
6
   proQramminQ"lanQuage

In [ ]:
course="""
Hello
 My
  name
   is
    Hany"""

In [ ]:
print(course)

Hello
 My
  name
   is
    Hany

In [ ]:
first="Hanieh"
last="khale"
full_name=f"{first} {last}" # concatenating 
print(full_name)

Hanieh khale

In [ ]:
mid="ola"
full_name=f"{first} {mid} {last}"
print(full_name.upper())

HANIEH OLA KHALE

#condition

In [ ]:
x=input("x:")
if (x>"1"):
    print(True)

In [ ]:
name="   "
if not name.strip(): # get rid of spaces
    print("name is empty")
else:
    print("hi ",name)

name is empty

In [ ]:
age=22
if 18>= age <25:
    print("elig")

#loops


*   for    --> over string/in 
        *   --> over int/ range() it doesn't return list
*   while  -->

In [ ]:
name="gane Austen"
flag=False
for i in name:
    if i=='j' or i=='J':
        flag=True
        print(flag)
        break
if not flag:
     print("not found")
    
# ctrl+ / --> comments
#  select on code + alt + above       --> move
# select on code + alt + shift+down   --> copy

not found

In [ ]:
# multiply element of list
def multiply(*mylist):
    m=1
    for i in mylist:
        m*=i
    return m

print(multiply(2,3,4,5))

120

In [ ]:
#dictionary
def save_user(**user):
    print(user["id"])
save_user(id="1", name="Ali")
save_user(id=2, name="hanna")

1
2

In [ ]:
#global var
message="Hello"
def text_msg():
    global message
    message="bye"
    print(message)

print(text_msg())

bye
None

# list

In [ ]:
import numpy as np
x=np.linspace(0,19,20)
list1=list(range(20))
x1=np.array(list1)
x1

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19])

In [ ]:
x
list1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [ ]:
#accessing item
letters="Hello world"
list2=list(letters)
list2[0]="M"
print(list2[::2])#every second element
print(list1[4::2])
print(list1[::-1])#reverse list

['M', 'l', 'o', 'w', 'r', 'd']
[4, 6, 8, 10, 12, 14, 16, 18]
[19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [ ]:
first, second, *others, last=list1
type(others)

list

In [ ]:
# find index of list use enumerate that return a tuple
letter=["a","b","c","d","e","f"]
for index, letter in enumerate(letter):
    print(index, letter)

0 a
1 b
2 c
3 d
4 e
5 f

# add and remove items
#everything in python is an object
##add

* insert method add first of list
* append method add end of list


## remove item
* del statement you can delete multiple items in list 
* pop() method remove from end of list or index
* remove(name of item")

In [ ]:
letters="abcd"
letters=list(letters)
#add
letters.insert(-1,"_")
letters.append("e")
print("this is add", letters)
#remove
letters.pop(3)
letters.remove("e")
del letters[0:2]
"this is remove" ,letters

this is add ['a', 'b', 'c', '_', 'd', 'e']

('this is remove', ['c', 'd'])

In [ ]:
letters.append("e")
letters.reverse()

# count index
#find index with method set

In [ ]:
# find
letters=["e","e","s","a","b","e","e","e"]
indexE=[]
if "e" in letters:
    print(letters.count("e"))
for i in range(len(letters)):
    indexE.append(letters.index("e",i))
#print index of e's    
print(list(set(indexE)))

5
[0, 1, 5, 6, 7]

#sort

In [ ]:
x=[1,2,50,3,26,2]
x.sort(reverse=True)

In [ ]:
sorted(x)
x

[50, 26, 3, 2, 2, 1]

In [ ]:
x.sort()
x

[1, 2, 2, 3, 26, 50]

In [ ]:
product=[("product1",0),("product2",10),("product3",1)]
def item(item):
    return(item[1])
product.sort(key=item) # sort get key items not argument

In [ ]:
product

[('product1', 0), ('product3', 1), ('product2', 10)]

In [ ]:
product=[("product1",10),("product2",9),("product3",12)]
product.sort(key=lambda  a:a[1], reverse=True)
product

[('product3', 12), ('product1', 10), ('product2', 9)]

In [ ]:
product=[("product1",1000),("product2",9000),("product3",12000),("product3",1000)]

price=[]
price=list(map(lambda item:item[1],product))

# map iterate in your code

[1000, 9000, 12000]

In [ ]:
product=[("product1",1000),("product2",9000),("product3",12000),("product3",1000)]
x=list(filter(lambda item:item[1]==1000,product))
x

[('product1', 1000), ('product3', 1000)]

In [ ]:
# comprehension applying eaxh expression on each item
#[expression for i in items]
product=[("product1",1000),("product2",9000),("product3",12000),("product3",1000)]
x=list(i for i in product if i[1]>1000)#price>1000
x2=list(i[1] for i in product)#just price

In [ ]:
x

[('product2', 9000), ('product3', 12000)]

In [ ]:
#zip
list1=[4,5,2]
list2=[6,5,6,4]
x=zip('xbn',list1,list2)
x=list(x)
u=list(x[1]).pop()

In [ ]:
from collections import deque
list3=deque([1,2,3,4,5,6])
list3.popleft()

1

#tuple immutable
* x=1,

* x=1,2
* x=(1,2)

In [ ]:
x=1,
type(x)

tuple

In [ ]:
x=(1,2)
type(x)

tuple

In [ ]:
x=(1,2,3,4)
x[1:3]

(2, 3)

In [ ]:
x=10
y=23
x,y=y,x

In [ ]:
y

10

#array it is a useful list
* take less memmory
[link text](https://docs.python.org/3/library/array.html)

In [ ]:
from array import array
x=array("i",[1,2,3])
type(x)

array.array

In [ ]:
x[0]=6
sorted(x)
x

array('i', [6, 2, 3])

#set is  a collection without any repeated items

In [ ]:
numbers=[1,1,2,3,6,4,6]
set1=set (numbers)
set2={1,5,6}
print(set1|set2)
print(set1 & set2)
print(set1)
print(set2)

{1, 2, 3, 4, 5, 6}
{1, 6}
{1, 2, 3, 4, 6}
{1, 5, 6}

#dict
#dict=dict(x=1,y=2)
##dict={"x":1,"y":2}

https://docs.python.org/3/library/array.html

In [ ]:
value=[]
for i in range(5):
    value.append(i*2)
print(value)

[0, 5, 10, 15, 20]

In [ ]:
value=[]
[i*2 for i in range(5)]

[0, 2, 4, 6, 8]

In [ ]:
value={}
{i:i*2 for i in range(5)}

{0: 0, 1: 2, 2: 4, 3: 6, 4: 8}

#from sys import getsizeof
#generator the size of generator is realy fantastic small memory

In [ ]:
from sys import getsizeof
value=(i*2 for i in range(1000))
#print(value[0:10]) #TypeError: 'generator' object is not subscriptable
print(getsizeof(value))

SyntaxError: ignored

In [ ]:
for i in range(5):
    print(value)

In [ ]:
from pprint import pprint
Text="""This module The type is specified
at object creation time by using a type code, which is a single character."""
Text=Text.replace(" ","")
tlist=list(Text)
x={} # def dict bz i need key and value key is letter value tedad
for i in set(tlist): # i is unique
    x.update({i:tlist.count(i)}) # update x value in loop
v=sorted(x.items(), key=lambda item: item[1],reverse=True)#sort
print(v[0]) # پر تکرار ترین حرف

('e', 12)

In [ ]:
L = ["cccc", "b", "dd", "aaa"]
  
print ("Normal sort :", sorted(L))
  
print ("Sort with len :", sorted(L, key = len))

Normal sort : ['aaa', 'b', 'cccc', 'dd']
Sort with len : ['b', 'dd', 'aaa', 'cccc']

In [ ]:
item

['T',
 'h',
 'i',
 's',
 'm',
 'o',
 'd',
 'u',
 'l',
 'e',
 'T',
 'h',
 'e',
 't',
 'y',
 'p',
 'e',
 'i',
 's',
 's',
 'p',
 'e',
 'c',
 'i',
 'f',
 'i',
 'e',
 'd',
 '\n',
 'a',
 't',
 'o',
 'b',
 'j',
 'e',
 'c',
 't',
 'c',
 'r',
 'e',
 'a',
 't',
 'i',
 'o',
 'n',
 't',
 'i',
 'm',
 'e',
 'b',
 'y',
 'u',
 's',
 'i',
 'n',
 'g',
 'a',
 't',
 'y',
 'p',
 'e',
 'c',
 'o',
 'd',
 'e',
 ',',
 'w',
 'h',
 'i',
 'c',
 'h',
 'i',
 's',
 'a',
 's',
 'i',
 'n',
 'g',
 'l',
 'e',
 'c',
 'h',
 'a',
 'r',
 'a',
 'c',
 't',
 'e',
 'r',
 '.']

In [ ]:
Text2="this is a last sentences"
Text2=Text2.replace(" ","")
list1=list(Text2)
x={}
for i in set(list1):
    x.update({i:list1.count(i)})
v2=sorted(x.items(), key=lambda a :a[1])
v2[-1]

('s', 5)

# exercise
https://pynative.com/python-data-structure-exercise-for-beginners/

https://www.w3resource.com/python-exercises/data-structures-and-algorithms/python-data-structure.php#EDITOR

In [ ]:
"""Exercise 2: Given a list, remove the element 
at index 4 and add it to the 2nd position and at the end of the list"""
list1 = [54, 44, 27, 79, 91, 41]
temp=list1.pop(4)
list1.append(temp)
list1.insert(2,temp)
list1

[54, 44, 91, 27, 79, 41, 91]

#exception
remove error

In [ ]:
#unpack list
num=[1,2,3,4,5]
print(num)
print(*num)
value=[*range(5),*"hello"]
values=[*range(5)]

[1, 2, 3, 4, 5]
1 2 3 4 5

In [ ]:
["hello"]
[*"hello"]

['h', 'e', 'l', 'l', 'o']

In [ ]:
sent="this is a common interview question"
sent=sent.replace(" ","")
sent=[*sent]
x={}
for i in set(sent):
    x.update(({i:sent.count(i)}))
l=sorted(x.items(), key= lambda x:x[1])

 اگر کاربر مقدار درست وارد نکرده باشد و نمیخواهیم 
 برنامه کراش و
  خاتمه یابد 
  از دستور زیر استفاده میکنیم

*   try:
*   except

In [ ]:
from termcolor import colored

try:
    a= float(input("print age:"))
except ValueError:
    print(colored(" wow you should write number","red"))
else:
    print (colored("Warning: the operation will continue with no exception","green"))
print("execution will countinue with age=30")
a=30
price=a*20
print(price)

print age:14
Warning: the operation will continue with no exception
execution will countinue with age=30
600

In [ ]:
from termcolor import colored
try:
   # file=open("a.py")
    b=int(input("Age:"))
    x=10/b
except (ValueError,ZeroDivisionError):
    print("somthing wrong:")
except ZeroDivisionError:
    print("Age cannot be Zero")
finally: #اگر ارور وجود داشت در فایلهای تو در تو
    print("try close")
  #  file.close()

In [ ]:
try:
    with open ("zero.txt","r") as test:
        a=int(input("v"))
        print(10/a)
except:
    print("file does not exsist")

else:
    print("that is it")

finally:
    pass

In [ ]:
#clean up
try:
    with open ("fil.txt","r") as test:
        for i in test:
            print(i)
except:
    print("file does not exsist")

else:
    print("that is it")

finally:
    pass

file does not exsist

یک چیز غیر رایج

In [ ]:
def divided(a):
    if(a<=0):
        raise ValueError("a must not be zero or less")
    return 10/a
try:
    a=(int)(input("a:"))
    print(divided(a))
except ValueError:
    print("error")

a:0
error

#محاسبه زمان اجرا
# raise exception
when you write function 
exception gets lots of time to do
* from timeit import timeit


exception وقتی لازمه اجرا کن زمان محاسباتی زیاد است
```
# This is formatted as code
from timeit import timeit
code1="""def add_number(a):
    if a<=0:
        raise("error")
    return a+1
try:
    a=add_number(-1)
except:
    pass"""
print("execution time" , timeit(code1,number=10))
```

In [ ]:
from timeit import timeit
code1="""def add_number(a):
    if a<=0:
        raise("error")
    return a+1
try:
    a=add_number(-1)
except:
    pass"""
print("execution time" , timeit(code1,number=2))

execution time 4.347000015059166e-06

In [ ]:
from timeit import timeit
code2="""def add_number(a):
    if a<=0:
        print("error")
        
    return a+1

    a=add_number(-1)
"""
print("execution time" , timeit(code2,number=2))

execution time 1.435000001492881e-06

#class
list in python is an object that has usefull attribute and method:
* index
*clear

In [ ]:
# reserve class
numbers=[1,2,3]
numbers.clear()
numbers

[]

create custom class:
* student database
* shopping mall
* customer

```
نباید اندراسکور بگذاری در اسم کلاس *
```


class is blueprint for creating new object
object is instance of class

In [ ]:

class Point:
    def alaki(self):
        print("Hello_user")

In [ ]:
test=Point()
test.alaki()
print(type(test))

Hello_user
<class '__main__.Point'>

In [ ]:
from timeit import timeit
s1="""
class Point:
    def alaki(self):
        print("Hello_user")

a=Point()    
a.alaki()
"""
print(timeit(s1, number=2))

Hello_user
Hello_user
0.0004067279999162565

In [ ]:
class PointTwo:
    def __init__(self,x,y):
        self.x=x
        self.y=y
    def draw(self):
        print(f"point({self.x},{self.y})")

In [ ]:
obj1=PointTwo(3,4)
obj1.draw()

point(3,4)

#class attribute

In [ ]:
class PointThree:
    eye_color="black"
    def __init__(self,x,y):
        self.x=x
        self.y=y
    def draw(self):
        print(f"point({self.x},{self.y})")

In [ ]:
p1=PointThree(30,40)
print(p1.eye_color)

p2=PointThree(3,6)
p2.eye_color="brown"
print(p2.eye_color)
print(p1.eye_color)

black
brown
black

In [ ]:
class PointFour:
    eye_color="black"
    def __init__(self,x,y):
        self.x=x
        self.y=y
    @classmethod
    def zero(cls):
        return cls(0,0)
    def draw(self):
        print(f"point({self.x},{self.y})")

In [ ]:
obj2=PointFour.zero()
obj2.draw()
obj2.x=3
obj2.draw()

point(0,0)
point(3,0)

In [ ]:
class PointFive:
    eye_color="black"
    def __init__(self,x,y):
        self.x=x
        self.y=y
    @classmethod
    def initial(cls):
       return cls(0,0)
 
    def draw(self):
        print(f"point({self.x},{self.y})")

In [ ]:
obj3=PointFive.initial()
print(obj3)

<__main__.PointFive object at 0x7ff4a50b5d50>

 if we define str we can access and see our value

In [ ]:
class PointFive:
    eye_color="black"
    def __init__(self,x,y):
        self.x=x
        self.y=y
    @classmethod
    def initial(cls):
        return cls(0,0)
    def __str__(self):
        return ( f'({self.x},{self.y})')
 
    def draw(self):
        print(f"point({self.x},{self.y})")

In [ ]:
obj3=PointFive.initial()
print(obj3)

(0,0)

برای تعریف اینکه ایا دو ابجکتی که تعریف کردیم برابر است باید در کلاس از متد معجزه گر استفاده کرد

In [ ]:
class PointSix:
    eye_color="black"
    def __init__(self,x,y):
        self.x=x
        self.y=y
    def __eq__(self, other):
        return (self.x==other.x and self.y==other.y)
    def __ge__(self,other):
        return (self.x>other.x and self.y>other.y)
    def __le__(self,other):
        return (self.x<self.other and self.y<other.y)
    def draw(self):
        print(f"point({self.x},{self.y})")

In [ ]:
obj6=PointSix(10,20)
obj7=PointSix(1,2)
obj8=PointSix(1,2)
print(obj7==obj8)
print(obj6>obj7)
print(obj6>obj8)

True
True
True

#aritmetic magic method
Normal arithmetic operators

Now, we cover the typical binary operators (and a function or two): +, -, * and the like. These are, for the most part, pretty self-explanatory.


```



 __add__(self, other)
    Implements addition.
* __sub__(self, other)
    Implements subtraction.
* __mul__(self, other)
    Implements multiplication.
* __floordiv__(self, other)
    Implements integer division using the // operator.
* __div__(self, other)
    Implements division using the / operator.
* __truediv__(self, other)
    Implements true division. Note that this only works when from __future__ import division is in effect.
    ```

In [ ]:
class Point:
    def __init__(self,x,y):
        self.x=x
        self.y=y
    def __add__(self,other):
        return Point(self.x+other.x , self.y+other.y)
    def __str__(self):
       return (f'({self.x},{self.y})')

In [ ]:
p1=Point(1,2)
p2=Point(6,8)
z=p1+p2
print(p1+p2)

(7,10)

#container

In [ ]:
#class Tagcloud:
class Car:
    def __init__(self, color, mileage):
        self.color = color
        self.mileage = mileage
    def __str__(self):
        return f'(self.color,self.mileage)'

In [ ]:
my_car = Car('red', 37281)
print(my_car)

(self.color,self.mileage)

#file.

In [ ]:
#open
f= open("account.txt","w+")
with open("account.txt",mode="w") as accounts: # as an variable called accounts
    accounts.write("145000 john 331 \n")
    accounts.write("658200 Betii 324 \n")
    accounts.write("352410 Valie 321 \n")
    accounts.write("352410    Joonam           322\n")
    accounts.write("352410    kittey     6\n")

In [ ]:
with open('account.txt', "r") as accounts:
    print(f'{"account"} {"name"} {"price":}')
    for i in accounts:
        account,name,price=i.split( )
        print(f'{account}  {name}  {price}')

account name price
145000  john  331
658200  Betii  324
352410  Valie  321

In [ ]:
import csv
with open("test.csv","w",newline="") as account:
    writing=csv.writer(account)
    writing.writerow(["name","price","account"])
    writing.writerow(["minoo",12,13])
    writing.writerow(["kolli",8,90])

In [ ]:
with  open("test.csv","r",newline="") as account:
    reading=csv.reader(account)
    for i in reading:
        name,price,index=i
        print(f'({name} {price} {index})')

(name price account)
(minoo 12 13)
(kolli 8 90)

In [ ]:
with open('account.txt', mode='r') as accounts:# heads
    print(f'{"Account":<10}{"Name":<10}{"Balance":>10}')# display only head
    for record in accounts: # one line at time
        account, name, balance = record.split()
        print(f'{account:<10}{name:<10}{balance:>10}') #left , right 10

Account   Name         Balance
145000    john             331
658200    Betii            324
352410    Valie            321
352410    Joonam           322
352410    kittey             6

In [ ]:
!ls # access to directory

account.txt  sample_data

In [ ]:
account=open('account.txt',mode='r')

In [ ]:
account=open('account.txt',mode='r')
temp=open("temp.txt","w")
with account,temp:
    print(f'{"account"},{"name"},{"index"}')
    for i in account:
        p,n,index=i.split()
        if n!="Joonam":
            temp.write(i)
        else:
            new_rec=" ".join([p,"smith",index])
            temp.write(new_rec+"\n")

account,name,index

In [ ]:
!cat temp.txt

145000 john 331
658200 Betii 324
352410 Valie 321
352410 smith 322
352410    kittey             6

In [ ]:
!cat temp.txt

145000 john 331
658200 Betii 324
352410 Valie 321
352410    Joonam           322
352410    kittey             6

In [ ]:
temps=open("temp.txt","w")
accounts=open("account.txt","r")

In [ ]:
with accounts, temps:# open files
    for i in accounts:
        price, name, index = i.split()
        if index != '6':
            temps.write(i)
        else:
            new_record = ' '.join([price, 'Williams', index])
            temps.write(new_record + '\n')

In [ ]:
import os
os.remove("account.txt")
os.rename("temp.txt","account.txt")

In [ ]:
accounts=open("account.txt","w")
new_record = ' '.join(['3201450', 'salli', '320'])
accounts.write(new_record+'\n')

18

In [ ]:
import os
os.remove("account.txt")

In [ ]:
os.rename('temps.txt','account.txt')

#json

In [ ]:
accounts_dict = {'accounts': [
    {'account': 100, 'name': 'Jones', 'balance': 24.98},
    {'account': 200, 'name': 'Doe', 'balance': 345.67}]}

In [ ]:
import json
with open("accounts.json","w") as l:
    json.dump(accounts_dict,l)

In [ ]:
!cat accounts.json

{"accounts": [{"account": 100, "name": "Jones", "balance": 24.98}, {"account": 200, "name": "Doe", "balance": 345.67}]}

In [ ]:
#read 
with open("accounts.json","r") as l:
    account_json=json.dumps(json.load(l),indent=4) # 4spaces
print(account_json)

{
    "accounts": [
        {
            "account": 100,
            "name": "Jones",
            "balance": 24.98
        },
        {
            "account": 200,
            "name": "Doe",
            "balance": 345.67
        }
    ]
}

In [ ]:
p=[[1,2,3],[4,5,6]]
p=json.dumps(p,indent=3)
print(p)

[
   [
      1,
      2,
      3
   ],
   [
      4,
      5,
      6
   ]
]

In [ ]:
account_json

{'accounts': [{'account': 100, 'balance': 24.98, 'name': 'Jones'},
  {'account': 200, 'balance': 345.67, 'name': 'Doe'}]}

In [ ]:
account_json['accounts'][0]

{'account': 100, 'balance': 24.98, 'name': 'Jones'}

#api:
import requests

###status_code:
* returns a number that indicates the status (200 is OK, 404 is Not Found). Python requests are generally used to fetch the content from a particular resource URI.

In [ ]:
import requests
respons=requests.get("https://randomfox.ca/floof")
print(respons.status_code)

dict_fox=respons.text
fox2=respons.json() #convert to dict
fox2['image']

#API
Application programming interface

In [ ]:

import requests

url = 'https://online-service2.nuernberg.de/Finder/action/getItems'
data = {
    "finder":"Wahlraumfinder",
    "strasse":"Judengasse",
    "hausnummer":"0"
    }

headers = {
           'Host': 'online-service2.nuernberg.de', 
           'Referer': 'https://online-service2.nuernberg.de/Finder/?Wahlraumfinder', 
           'Accept': '*/*', 
           'Accept-Encoding': 'gzip, deflate, br', 
           'Accept-Language': 'de-DE,de;q=0.9,en-US;q=0.8,en;q=0.7', 
           'Connection': 'keep-alive', 
           'Content-Length': '312', 
           'Content-Type': 'multipart/form-data; boundary=----WebKitFormBoundaryeJZfrnZATOw6B5By', 
           'DNT': '1', 
           'Host': 'online-service2.nuernberg.de', 
           'Referer': 'https://online-service2.nuernberg.de/Finder/?Wahlraumfinder', 
           'Sec-Fetch-Mode': 'cors', 
           'Sec-Fetch-Site': 'same-origin', 
           'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/78.0.3904.97 Safari/537.36',
           'X-Requested-With': 'XMLHttpRequest'
           }

In [ ]:
response = requests.post(url, data=data, headers=headers)
response

#when will next bus arrive?
The <pt> element 
##specifies a parameter term within a parameter list entry. This element is part of the DITA programming domain, a special set of DITA elements designed to document programming tasks, concepts, and reference information.
## API
آِ پی آِی همچون همان یو آی است با این تفاوت که به جای انسان، یک سیستم کامپیوتری قرار است با آن تعامل داشته باشد

### 2
ای پی ای یعنی ایجاد یک سری توابع کاربردی برای انجام کاری خاص، مثلا شما میتونید یه آِ پی آِی طراحی کنید تا آِی پی جاری شما رو روی اینترنت بدهد، این میشه وب آی پی آی، یا نیازی به ارتباط با نت ندارید و میخواهید در سرور جاری که هستید به شما بگوید آی پی شما چیست، این می‌شود لوکال ای پی آی. 


![image.png]()

In [ ]:
import urllib.request
a=urllib.request.urlopen(
'http://ctabustracker.com/bustime/map/getStopPredictions.jsp?&stop=7531&route=103')
#u=urllib.request.urlopen('https://learning.oreilly.com/api/v2/usage-event/')
data=a.read() # فایل xml بخون
from xml.etree.ElementTree import XML
doc=XML(data)
for i in doc.findall('.//pt'):
    print(i.text)

#self check:
ref=[link text](https://github.com/pdeitel/IntroToPython/tree/master/examples/ch09/snippets_ipynb)

In [ ]:
f=open("grade.txt","wt")
with open("grade.txt","w") as Grade:
    Grade.write("1 Johanson A \n")
    Grade.write("2 wallas B \n")
    Grade.write("3 wenover C \n")

In [ ]:
! more grade.txt

1 Johanson A
2 wallas B
3 wenover C

In [ ]:
with open("grade.txt",'r') as grade:
    print(f'{"ID":>10} {"NAME":>10} {"GRADE":>10}')
    for i in grade:
        ID,NAME,GRADE=i.split()
        print(f'{ID:>10}{NAME:>10} {GRADE:>10}')

        ID       NAME      GRADE
         0     Hello          A
         1  Johanson          A
         2    wallas          B
         3   wenover          C

In [ ]:
grades_dict = {'gradebook': 
    [{'student_id': 1, 'name': 'Red', 'grade': 'A'},
     {'student_id': 2, 'name': 'Green', 'grade': 'B'},
     {'student_id': 3, 'name': 'White', 'grade': 'A'}]}

In [ ]:
import json
with open("grade.json","w") as L:
    json.dump(grades_dict,L)

<_io.TextIOWrapper name='grade.json' mode='w' encoding='UTF-8'>

In [ ]:
with open("grade.json","r") as L:
    q=json.dumps(json.load(L),indent=4)
print(q)

{
    "gradebook": [
        {
            "student_id": 1,
            "name": "Red",
            "grade": "A"
        },
        {
            "student_id": 2,
            "name": "Green",
            "grade": "B"
        },
        {
            "student_id": 3,
            "name": "White",
            "grade": "A"
        }
    ]
}

#datascientist

In [ ]:
import csv
with open("test.csv","w",newline="") as account:
    writing=csv.writer(account)
    writing.writerow(["minoo",12,13])
    writing.writerow(["kolli",8,90])

In [ ]:
with  open("test.csv","r",newline="") as account:
    print(f'({"name"} {"price"} {"index"})')

    reading=csv.reader(account)
    for i in reading:
        name,price,index=i
        print(f'({name} {price} {index})')

(name price index)
(minoo 12 13)
(kolli 8 90)

#Panda library
make it easy for csv file

In [30]:
import csv
with open("test.csv","w")as test:
    writing=csv.writer(test)
    writing.writerow(["name","price","index"])
    writing.writerow(["minoo",12,13])
    writing.writerow(["kolli",8,90])

In [32]:
import pandas as pd
df=pd.read_csv("test.csv")
df.to_csv("test.csv")

In [33]:
! cat test.csv

,name,price,index
0,minoo,12,13
1,kolli,8,90

In [42]:
import pandas as pd
pd.set_option("precision",2)
df=pd.read_csv('https://vincentarelbundock.github.io/' +
    'Rdatasets/csv/carData/TitanicSurvival.csv')

In [43]:
df.head()
df.tail()

                     Unnamed: 0 survived     sex   age passengerClass
1304       Zabour, Miss. Hileni       no  female  14.5            3rd
1305      Zabour, Miss. Thamine       no  female   NaN            3rd
1306  Zakarian, Mr. Mapriededer       no    male  26.5            3rd
1307        Zakarian, Mr. Ortin       no    male  27.0            3rd
1308         Zimmerman, Mr. Leo       no    male  29.0            3rd

In [46]:
(df.sex=="female").describe()

count      1309
unique        2
top       False
freq        843
Name: sex, dtype: object

In [48]:
%matplotlib

Using matplotlib backend: agg